---
title: AntiochCollege.org Documentation
---
:markdown
  Here are the main sections that you'll likely find useful.

%ul
  %li=link_to "Account", "account"
  %li=link_to "Content", "content"
  %li=link_to "Navigation (menu)", "navigation"
  %li=link_to "Markdown", "markdown"
  %li=link_to "Drupal", "drupal"
  %li=link_to "Advanced", "advanced"

